name: minesweeper
description: "Minesweeper"
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ^3.5.3

dependencies:
  flame: ^1.21.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    # Add assets from the images directory to the application.
    - assets/images/
